/* .About{
    padding-top: 7rem;
    box-sizing: content-box;
} */
.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about_me {
    width: 78%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, 
        transparent,
       var(--color-primary),
       transparent 
       );
    display: grid;
    place-items: center;

}
.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    /* transform: rotate(10deg); */
    /* transition: var(--transition); */
}
.about_me-image:hover {
    transform: rotate(0);
}

.about_cards {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    gap: 1.5rem;
}
.about_card {
    background: var(--color-bg-variant);
    color: white;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
.about_card:hover {
    color: black;
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.about_icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_card h5{
    font-size: 0.95rem;
}
.about_card small {
    font-size: 0.7rem;
    color: var(--color-light);
}
.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


/* ================================= MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px ){
    header {
        height: 60vh;
    }
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_cards {
        display: grid;
        grid-template-columns:  repeat(2,1fr);
        gap: 2rem;
    }
    .summery{
        font-size: 1.2rem;
    }
    .about_me {
        width: 40%;
        margin: 2rem auto;
        margin-bottom: 7rem;
    }
    .about_content p {
        margin: 1rem 0 1.5rem;
    }
}


/* ================================= MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px ){
    .about_me {
        width: 68%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about_content {
        text-align: center;
    }
    .about_content p {
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 375px ){
    .About{
        margin-top: 18rem;
        box-sizing: content-box;
    }
    .about_me {
        width: 90%;
        margin-bottom:5rem;
    }
}

@media screen and (max-width: 420px ){
    .about_me {
        width: 92%;
        margin-bottom:5rem;
    }
}

@media screen and (max-width: 360px ){
    .about_me {
        width: 96%;
        margin-bottom:5rem;
    }
}

@media screen and (max-width: 540px ){
    .about_me {
        width: 70%;
        margin-bottom:5rem;
    }
}

@media screen and (max-width: 540px ){
   
    .about_me {
        width: 110%;
        margin-bottom: 6rem;
    }
    .about_me-image {
       object-fit: contain;
    }
}